@{
    ViewData["Title"] = "Home Page";
}
@model IndividueelProjectSemester2.Models.AccountViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    Hallo @Model.Username en @Model.Password
    blabla
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
